* {
    font-family: Ubuntu, sans-serif;
}

window {
    background-color: #150B25;
}


button {
    color: #B25CD2;
    background-color: #361659;
    border: 3.25 solid;
    background-position: center;
    background-size: 25%;
    margin: 13px;
}

#lock {
    background-image: url("./icons/lock.svg");
}

#logout {
    background-image: url("./icons/logout.svg");
}

#suspend {
    background-image: url("./icons/sleep.svg");
}

#hibernate {
    background-image: url("./icons/pause.svg");
}

#shutdown {
    background-image: url("./icons/power-off.svg");
}

#reboot {
    background-image: url("./icons/reboot.svg");
}
