* {
    font-family: Ubuntu, sans-serif;
}

#window,
#input {
    background-color: #190928;
    color: #9486E1;
    border-radius: 20px;
    opacity: 0.80;
}

#entry {
    border-radius: 20px;
    padding-left: 20px;
}

#entry:selected {
    border-radius: 20px;
    background-color: #6935B3;
    color: #DECFED;
}

#img {
    margin-right: 6px;
}